<div class="row">
    <div class="col">
        <fb-textbox [control]="props.value.model" [parentGroup]="propsForm">
        </fb-textbox>
        <fb-validation-errors [prop]="props.value" [propsForm]="propsForm">
        </fb-validation-errors>
    </div>
</div>
<div class="row">
    <div class="col">
        <fb-single-checkbox [control]="props.url.model" [parentGroup]="propsForm">
        </fb-single-checkbox>
    </div>
    <div class="col">
        <fb-single-checkbox [control]="props.password.model" [parentGroup]="propsForm">
        </fb-single-checkbox>
    </div>
</div>
<div class="row">
    <div class="col">
        <fb-number [control]="props.minLength.model" [parentGroup]="propsForm">
        </fb-number>
        <fb-validation-errors [prop]="props.minLength" [propsForm]="propsForm">
        </fb-validation-errors>
    </div>
    <div class="col">
        <fb-number [control]="props.maxLength.model" [parentGroup]="propsForm">
        </fb-number>
        <fb-validation-errors [prop]="props.maxLength" [propsForm]="propsForm">
        </fb-validation-errors>
    </div>
</div>