<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-cogs" aria-hidden="true">
      </i>
      <span class="spaces-after-icon">
        Properties
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <div *ngIf="selectedControl">
      <form [formGroup]="propertiesForm" (ngSubmit)="onSubmit()">
        <div class="row" *ngFor="let property of properties; let idx = index">
          <div class="col">
            <fb-control [control]="property.property" [type]="componentTypes
              [property.property.type]" [parentGroup]="propertiesForm">
            </fb-control>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled] 
          ="propertiesForm.invalid">
          Save
        </button>
      </form>
    </div>
  </div>
</div>