<div class="row" [formGroup]="propsForm">
  <div class="col-12 form-group">
    <label>
      Permissible Values
    </label>
    <button type="button" class="btn btn-primary btn-sm" (click)="addPv()">
      <i class="fa fa-plus-circle" aria-hidden="true">
      </i>
      Add
    </button>
    <div class="col-12 pvs-holder">
      <div class="row">
        <div class="col-sm-3">
          <label>
            Default
          </label>
        </div>
        <div class="col-sm-7">
          <label>
            Value
          </label>
        </div>
      </div>
      <div class="row" *ngFor="let pv of pvs; let pvIdx = index;">
        <div class="col-sm-3">
          <div class="radio">
            <label>
              <input type="radio" name="value" [value]="pv" formControlName="value">
            </label>
          </div>
        </div>
        <div class="col-sm-7">
          <input class="form-control" type="text" [value]="pv.value"
            (change)="optionTextEdited(pvIdx, $event)"/>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary btn-sm" (click)="deletePv(pvIdx)">
            x
          </button>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label>
        Upload PVs from file
      </label>
      <input #pvsFileInput type="file"/>
      <button type="button" id="uploadBtn" class="btn btn-primary btn-sm"
        (click)="uploadPvsFromFile()">
        Upload
      </button>
    </div>
  </div>
</div>