<div class="form-group" [formGroup]="parentGroup">
  <span *ngIf="control.mandatory">
    *
  </span>
  <label>
    {{control.caption}}
  </label>
  <input class="form-control" [type]="control.url ? 'url' : 'text'" [title]="control.toolTip"
    placeholder="{{control.placeHolder}}"
    [name]="control.name" [value]="control.value" [minlength]="control.minLength"
    [maxlength]="control.maxLength" [formControlName]="control.name"
    [style.-webkit-text-security]="control.password ? 'disc': 'initial'"/>
</div>