<div class="row">
  <div class="col">
    <fb-textbox-preview [control]="properties.caption.model" [parentGroup]="propertiesForm">
    </fb-textbox-preview>
  </div>
</div>
<div class="row">
  <div class="col">
    <fb-textbox-preview [control]="properties.toolTip.model" [parentGroup]="propertiesForm">
    </fb-textbox-preview>
  </div>
</div>
<div class="row">
  <div class="col">
    <fb-textbox-preview [control]="properties.udn.model" [parentGroup]="propertiesForm">
    </fb-textbox-preview>
  </div>
</div>
<div class="row">
  <div class="col">
    <fb-textbox-preview [control]="properties.width.model" [parentGroup]="propertiesForm">
    </fb-textbox-preview>
  </div>
</div>