.page-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.panel-container {
    padding-left: 0px;
    padding-right: 0px;
}

.page-wrapper {
    height: 100%;
}

.fb-header {
    height: 15%;
}

.fb-body {
    height: 85%;
}