<div class="jumbotron jumbotron-fluid align-items-center justify-content-center">
  <form [formGroup]="mainForm" (ngSubmit)="writeForm()">
    <div class="col-7 offset-2">
      <div class="row">
        <div class="col-6 form-group">
          <fb-textbox [control]="mainFormControls.caption.model" [parentGroup]="mainForm">
          </fb-textbox>
          <fb-validation-errors [prop]="mainFormControls.caption" [propsForm]="mainForm">
          </fb-validation-errors>
        </div>
        <div class="col-6 form-group">
          <fb-textbox [control]="mainFormControls.name.model" [parentGroup]="mainForm">
          </fb-textbox>
          <fb-validation-errors [prop]="mainFormControls.name" [propsForm]="mainForm">
          </fb-validation-errors>
        </div>
      </div>
    </div>
    <div class="col-7 offset-2">
      <div class="row">
        <div class="col-6">
          <button type="submit" class="btn btn-primary" [disabled]="mainForm.invalid">
            <i class="fa fa-floppy-o" aria-hidden="true">
            </i>
            <span>
              Save Form
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 panel-container">
      <fb-palette [paletteControls]="paletteControls">
      </fb-palette>
    </div>
    <div class="col-7 panel-container">
      <fb-preview [controls]="form.controls" [counter]="form.counter"
        (onControlSelect)="onControlSelect($event)">
      </fb-preview>
    </div>
    <div class="col-3 panel-container">
      <fb-properties [control]="selectedControl">
      </fb-properties>
    </div>
  </div>
</div>