<div class="page-wrapper">
  <div class="col-12">
    <button class="col-sm-4" type="button" class="btn btn-primary" (click)="addControlToForm()">
      <i class="fa fa-plus-circle" aria-hidden="true">
      </i>
      <span>
        Add Control
      </span>
    </button>
  </div>
  <div class="row">
    <div class="col-lg-2 panel-container">
      <fb-palette [paletteControls]="paletteControls" 
        (onSelectedControlFromPalette)="onSelectedControlFromPalette($event)">
      </fb-palette>
    </div>
    <div class="col-lg-7 panel-container">
      <fb-preview [controls]="controls" [controlOffsets]="controlOffsets"
        (onSelectedControlChange)="onSelectedControlChange($event)">
      </fb-preview>
    </div>
    <div class="col-lg-3 panel-container">
      <fb-properties [selectedControl]="selectedControl"
        (onPropertiesChange)="onPropertiesChange($event)">
      </fb-properties>
    </div>
  </div>
</div>