<div class="form-group" [formGroup]="parentGroup">
  <label>
    {{control.caption}}
  </label>
  <div>
    <ng-container *ngFor="let pv of control.permissibleValues; let pvIdx =  
      index">
      <label class="radio-inline" [title]="control.tooltip">
        <input type="radio" [name]="control.name" [checked]="pvIdx === 
          control.defaultPvIndex" [formControlName]="control.name"/>
        {{ pv }}
      </label>
      <ng-container *ngIf="control.optionsPerRow>0 && (pvIdx+1)
        %control.optionsPerRow==0">
        <br/>
      </ng-container>
    </ng-container>
  </div>
</div>
