<div class="panel">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-th" aria-hidden="true">
      </i>
      <span>
        Palette
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <div class="row" *ngFor="let paletteControl of paletteControls;">
      <a class="col" (click)="changeSelectedControl(paletteControl)" 
        [class.active]="selectedControl == paletteControl">
        <label>
          <i [class]="paletteControl.iconClass" aria-hidden="true">
          </i>
          <span>
            {{ paletteControl.label }}
          </span>
        </label>
      </a>
    </div>
  </div>
</div>