<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="col-sm-8" style="padding-left: 0px;"><i class="fa fa-th" aria-hidden="true"></i>&nbsp;&nbsp;Palette</h4>
    <button class="col-sm-4" type="button" class="btn btn-primary" (click)="addControlToForm()"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add
    </button>
  </div>
  <div class="panel-body">
    <ng-container *ngFor="let paletteControl of paletteControls; let idx = index">
      <div class="col-12" (click)="onControlSelectionChange(paletteControl)" [class.active]="isSelected(paletteControl)" >
        <label title="Please click on Add button">
          <ng-container [ngSwitch]="paletteControl.value">
            <i *ngSwitchCase="'textbox'" class="fa fa-text-width" aria-hidden="true"></i>
            <i *ngSwitchCase="'radio'" class="fa fa-list" aria-hidden="true"></i>
            &nbsp;&nbsp;{{ paletteControl.text }}
          </ng-container>
        </label>
      </div>
    </ng-container>
  </div>
</div>