<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-th" aria-hidden="true">
      </i>
      <span>
        Palette
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <ng-container *ngFor="let paletteControl of paletteControls; let idx = index">
      <div class="col-12" (click)="onControlSelectionChange(paletteControl)" 
        [ngClass]="{'active' : selectedControl && selectedControl.label === paletteControl.label}">
        <label title="Please click on Add button">
          <i [class]="paletteControl.iconClass" aria-hidden="true">
          </i>
          <span>
            {{ paletteControl.label }}
          </span>
        </label>
      </div>
    </ng-container>
  </div>
</div>