<div class="row">
  <div class="col">
    <fb-number [control]="props.numberOfRows.model" [parentGroup]="propsForm">
    </fb-number>
    <fb-validation-errors [prop]="props.numberOfRows" [propsForm]="propsForm">
    </fb-validation-errors>
  </div>
</div>
<div class="row">
  <div class="col">
    <fb-textbox [control]="props.value.model" [parentGroup]="propsForm">
    </fb-textbox>
    <fb-validation-errors [prop]="props.value" [propsForm]="propsForm">
    </fb-validation-errors>
  </div>
</div>