/* You can add global styles to this file, and also import other style files */
html, body, .panel {
    height: 100%;
}

.panel {
    margin-bottom: 0px !important;
}

.panel-heading {
    height: 60px;;
}

.panel-body {
    height: calc(100% - 60px );
    overflow: auto;
}