<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-search-plus" aria-hidden="true">
      </i>
      <span class="spaces-after-icon">
        Preview
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <ng-container *ngFor="let controlRow of controls; let idx = index">
      <form [formGroup]="mainForm">
        <div class="row">
          <div class="col" *ngFor="let control of controlRow; let subIdx = 
            index" [class.active]="isSelected(idx, subIdx)" (click)
            ="changeSelectedControlIndex(idx, subIdx)">
            <fb-control [control]="control" [type]="componentTypes[control.type]
            " [parentGroup]="mainForm">
            </fb-control>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>