<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-search-plus" aria-hidden="true">
      </i>
      <span>
        Preview
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <form [formGroup]="mainForm">
      <ng-container *ngFor="let controlOffsetRow of controlOffsets; let row = index">
        <div class="row">
          <div class="col" *ngFor="let uuid of controlOffsetRow; let col = index"
            (click)="changeSelectedControlIndex(row, col)"
            [ngClass]="{'active' : selectedRow === row && selectedColumn === col}">
            <fb-control [control]="controls[uuid]" [parentGroup]="mainForm">
            </fb-control>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>