<div class="panel">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-search-plus" aria-hidden="true">
      </i>
      <span>
        Preview
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <form [formGroup]="mainForm">
      <div dnd-droppable class="row droppable-row"
        (onDropSuccess)="controlDroppedOnEmptyRow($event, 0)">
      </div>
      <ng-container *ngFor="let controlsRow of controls; let row=index;">
        <div class="row">
          <div dnd-droppable class="droppable-col"
            (onDropSuccess)="controlDroppedInsideRow($event, row, 0)">
          </div>
          <ng-container *ngFor="let control of controlsRow; let col=index;">
            <a class="col" (click)="changeSelectedControl(control, row, col)"
              [class.active]="selectedControl == control"
              dnd-draggable [dragEnabled]="true" [dragData]="row + '-' + col">
              <fb-control [control]="control" [parentGroup]="mainForm">
              </fb-control>
              <div *ngIf="control.clicked">
                <div class="accordion-expand"  data-toggle="collapse" [attr.data-target]="'#'+row"
                  href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <span class="field-options">Field Options (ID {{control.counter}})</span>
                  <span class="fa fa-caret-down float-right"></span>
                </div>
                <div class="container collapse accordion-expand" [attr.id]="row">
                  <fb-control-props [control]="control">
                  </fb-control-props>
                </div>
              </div>
            </a>
            <div dnd-droppable class="droppable-col"
              (onDropSuccess)="controlDroppedInsideRow($event, row, (col+1))">
            </div>
          </ng-container>
        </div>
        <div dnd-droppable class="row droppable-row"
          (onDropSuccess)="controlDroppedOnEmptyRow($event, (row+1))">
        </div>
      </ng-container>
    </form>
  </div>
</div>